<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" <link
    rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body
  style="color: white;background-image:linear-gradient(to right,rgba(0, 0, 0, 0.671),rgba(0, 0, 0, 0.61)),url(/pics/footer.jpg)"
  ;>

  <div class="container">
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">student Id</th>
          <th scope="col"> student Name</th>
          <th scope="col">Student Email</th>
          <th scope="col">Approve/Reject</th>
        </tr>
      </thead>
      {{#if events}}
      {{#each events}}

      <body>
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.Username}}</td>
          <td>{{this.email}}</td>
          <td><a href="/teacher/approve-req?id={{this._id}}&eventId={{../eventId}}&email={{this.email}}" class="btn btn-primary"><i
                class="fa fa-check"></i></a>
            <a href="/teacher/delete-req?id={{this._id}}&eventId={{../eventId}}&email={{this.email}}" class="btn btn-danger"
              onclick="return confirm('are you want to delete the request of {{this.Username}}')"><i
                class="fa fa-trash"></i></a>
          </td>
        </tr>
        {{/each}}
        {{else}}
        <h1 style="color: red; font-size:40px; text-align: center;">No Event Request Available</h1>
        {{/if}}

      </body>
    </table>
  </div>

</body>

</html>